<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kavee</title>
</head>
<body>
    <div class="container">
        <h2>ตรวจ</h2>
        <p id="txtout"></p>

        <script>
            var list = JSON.parse('{{ text | tojson }}');//รับarrayคํา
            var list2 = JSON.parse('{{ text3 | tojson }}');//รับarray[0,1]
            var outstr = "";

            //console.log(list);
            //console.log(list2);

            for(i=0; i < list.length; i++){//loopขึ้นบรรทัดใหม่
                sentence = list[i];//ทําlistกลับเป็นarray
                booleen = list2[i];
                if(( i % 2 ) == 0){//ถ้าiเป็นเลขคู่ให้ขึ้นบรรทัดใหม่
                    outstr = outstr.concat("<br>")
                }
                else{//ถ้าเปนเลขคี่ให้เว้นวรรค
                    outstr = outstr.concat("&nbsp; &nbsp; &nbsp; &nbsp;")
                }
                console.log(i);
                for(m=0; m < sentence.length; m++){
                    word = sentence[m];//แยกออกมาเป็นคําๆ
                    //console.log(word);
                    //console.log(m);
                    if (booleen[m] == 1){//ถ้าค่าเป็น1ให้สร้างโค้ดhtmlสีแดงไปเก็บในourstr
                        outstr = outstr.concat("<span style='color: red;'>");
                        outstr = outstr.concat(word);
                        outstr = outstr.concat("</span>")
                    }else if(booleen[m] == 2){
                        outstr = outstr.concat("<span style='color: orange;'>");
                        outstr = outstr.concat(word);
                        outstr = outstr.concat("</span>");
                    }else{
                        outstr = outstr.concat("<span style='color: black;'>");
                        outstr = outstr.concat(word);
                        outstr = outstr.concat("</span>")
                    }

            }}
            //console.log(outstr)
            document.getElementById("txtout").innerHTML = outstr
        </script>

    </div>
</body>
</html>

